#join {
  height: 236px;
  background-color: #97cad114;
  padding: 36px 56px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#join > .info {
  display: flex;
  justify-content: space-between;
}

#join > .info > .left {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#join > .info > .left > button {
  background-color: #e32359;
  color: white;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  width: 192px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

#join > .info > .left > p {
  line-height: 24px;
  font-size: 16px;
  max-width: 664px;
}

#join > .info > .left > button:hover {
  background-color: white;
  color: #e32359;
  border: #e32359 solid 2px;
}

@media screen and (max-width: 900px) {
  #join {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 32px;
    height: auto;
  }

  #join > .info {
    flex-direction: column-reverse;
    align-items: center;
  }

  #join > .info > .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #join > .info > .left > button {
    margin-top: 24px;
  }
}
